body{
    background-color: #05192d;
    margin:0;
}
.buttons{
    padding: 12px 10px;
    text-align: center;
}
.view{
    cursor: pointer;
    border-radius: 12px;
    margin-top: 20px;
    font-family: 'Orbitron', sans-serif;
    font-size: 15px;
    padding: 10px 10px;
    background-color:#03ef62;
    color: #05192d;
    font-weight: bold;
    border: 2px solid white;
}
.empty{
    width: 25px;
    display: inline-block;
    height: auto;
}
.view:hover{
    font-size: 150%;
    transition: 0.4s;
}